.nav { 
    padding-top: 2px;
    background-color: #CBCE91FF;
    max-height: 30%;
  }

  .app-title{
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    color: #f11442; 
  }
  

  .logout{
    position:absolute;
    top:0;
    right:0;
    background-color: #008CBA;
    padding: 14px 48px;
    font-size: 20px;
    margin-top: 0.3rem;
    font-weight: bold;
    margin-right: 1rem ;
    max-width: 15%;
    color: #fcc603;
    cursor: pointer;
  }
  
  .logout:hover{
    background-color: #f03329;
    color: white;
  }